<h1>About Us</h1>
<p>
  <a href="http://www.sidewayslogic.com">Sideways Logic</a>
  is a privately held software consulting company based in Cupertino, California
  that provides software consulting services to high-tech companies.  Our mission 
  is to help companies to create intelligent software solutions and deliver on time.
</p>