<h1>Help</h1>
<p>
  For immediate assistance during extended business hours (M-F 7:30AM-6:30PM PST)
  dial (408) 555-1234. For after hours support dial (408) 555-2345. For email
  support <a href="http://www.sidewayslogic.com">click here</a>
</p>