<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="ad">Post a new ad?</h1>
        <%= render 'shared/ad_form' %>
		<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>		
      </td>
    </tr>
  </table>
<% else %>
  <h1>Sideways Logic</h1>
  <p>
    <a href="http://www.sidewayslogic.com">Sideways Logic</a> is a privately
    held software consulting company based in Cupertino, California that
    provides customer software development and software consulting services to 
    high-tec companies. We specialize in data acquisition and analysis,
    desktop/mobile software development, and integrated Internet solutions.
  </p>
  <p>
    For us to respond your request promptly and provide the best services to
    you, we would like you to sign up and fill out some information.
  </p>
  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>