<h1>Sideways Logic</h1>
<p>
  <a href="http://www.sidewayslogic.com">Sideways Logic</a> is a privately
  held software consulting company based in Cupertino, California that
  provides customer software development and software consulting services to 
  high-tec companies. We specialize in data acquisition and analysis,
  desktop/mobile software development, and integrated Internet solutions.
</p>
<p>
  For us to respond your request promptly and provide the best services to
  you, we would like you to sign up and fill out some information.
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>